

/* Nav */
header {
	h1 {
		float: left;
		display: inline;
	}
	nav {
		float: right;
		clear: right;
		li {
			display: inline;
			margin-left: 15px;
		}
	}
	#skipTo {
		display: none;
		li {
			background: #b1fffc;
		}
	}
}

/* Banner */
#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	img {
		width: 100%;
	}
}

section {
	float: left;
	width: 100%;
}

aside {
	float: left;
	width: 100%;
}

/* Media Queries */
@media screen and (max-width: 480px) {
	header {
		#skipTo {
			display: block;
		}
		nav, #main, aside {
			float: left;
			clear: left;
			width: 100%;
			ul {
				padding: 0px;
				li {
					margin: 0;
					background: #efefef;
					display: block;
					margin-bottom: 3px;
					a {
						display: block;
						padding: 10px;
						text-align: center;						
					}
				}
			}
		}
	}
}